# Python
__pycache__/
*.py[cod]
*.pytest_cache/
.venv/
venv/

# OS/editor
.DS_Store
.idea/
.vscode/

# Byte-compiled / optimized / DLL files
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
.DS_Store